body {
    width: 100%;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: rgb(34, 25, 25);
    background-color: #f8eded;
    cursor: default;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
}

.container-fluid {
    height: 100%;
    cursor: pointer;
}
.row {
    height: 100%;
}
.my-btn {
    margin-top: auto;
    margin-bottom: auto;
}
.col-2 {
    font-size: 1.2rem;
}

a {
    color: black;
}

a.inf {
    color: #be1d8e;
}

.self-info {
    margin-top: 3%;
}

.self-info_text {
    font-family: 'Caveat', cursive;
    text-align: center;
}

.self-info_avatar {

}

.autograf {
    margin: 0 auto;
}

.servises {
    margin-top: 3%;
    display: block;
    background: url(/images/bg.jpg?1596e318e437d11765fdfe4e71eb0813) repeat;
    width: 100%;
}

.servises-title {
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
    background: #f8eded;
}

.servises-btn {
    font-size: 2rem;
    color: black;
}

.servises-discription {
    font-size: 0.3 rem;
}


.card-header
{
    background-color: #fae7d859;
    opacity: 0,1;
}

.card-body {
    font-size: 1.5rem;
}

.servises-box {
    background-color: #fae7d859;
}

.rewievs-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.contacts-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.contacts-block{
    margin: auto;
}

.questions {
    padding: 3%;
}

.questions-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.fig {
    float: left; /* Обтекание картинки по левому краю */
    padding-right: 10px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
}

.questions-title {
    padding-bottom: 3%;
}

.q-name {
    font-size: 1.8rem;
    background: #f0aaaa;
}

.q-txt_answer {
    font-size: 1.4rem;
}


.consultatoins-title {
    padding-bottom: 2%;
    text-align: center;
    text-transform: uppercase;
}

.consult {
    margin-top: 3%;
}

.gallery-title {
    padding-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3%;
}

.notebook {
    text-align: center;
}


.consult-card-txt{
    font-size: 1.2rem;
}

.consult-card-title {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

li.secondary-color.active {
    background-color: rgb(0, 0, 0);
}

li.secondary-color {
    background-color: rgb(94, 91, 91);
}

li.default-color {
    background-color: rgb(94, 91, 91);
}


