body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: rgb(34, 25, 25);
    background-color: #f8eded;
    cursor: default;
    margin: 0;
    padding: 0;
}


.btn:focus
{
    box-shadow: none !important;
}

.btn-link.focus
{
    text-decoration: none;
}

.btn-link:hover
{
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand
{
    font-size: 1rem;
}

.heading h1
{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2rem;
}

.error-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold
}
