.consultatoins-title {
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.consult {
    margin-top: 20px
}

.consult-card-txt{
    font-size: 1.2rem;
}

.consult-card-title {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}
